/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(0, 0, 0, 0);
}

.full { 
background: url(assets/img/bkg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.main{
    /*border-bottom: solid 1px #00bc8c;*/
    padding: 30px 0px;
}

.artist-header{
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px  #00bc8c;
}

.artist-thumb{
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
}

.artist-albums  .well{
    margin-bottom: 20px;
    overflow: auto;
    min-height: 400px;
}

.album{
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border: 1px solid #666;
}

.album-thumb{
    width: 100%;
}